/* Estilo para la barra de navegación */
.navbar {
  background-color: #003366; /* Azul oscuro para el fondo de la barra */
}

/* Estilo para el texto de la marca y los enlaces */
.navbar-brand,
.nav-link {
  color: #ffffff; /* Blanco para el texto */
}

/* Estilo para el enlace activo */
.nav-link.active {
  color: #00bfff; /* Azul claro para el enlace activo */
}

/* Estilo para los botones */
.btn-primary {
  background-color: #0056b3; /* Azul para el fondo del botón */
  border-color: #004494; /* Azul oscuro para el borde del botón */
}

/* Estilo para el botón al pasar el ratón por encima */
.btn-primary:hover {
  background-color: #004494; /* Azul más oscuro para el fondo del botón al pasar el ratón */
  border-color: #003366; /* Azul aún más oscuro para el borde del botón al pasar el ratón */
}

/* Estilo para el botón 'Cerrar Sesión' */
.btn-primary {
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  padding: 0.5rem 1rem; /* Espaciado más pequeño */
}

/* Estilo para el colapso de la barra de navegación */
.navbar-toggler {
  border-color: #ffffff; /* Blanco para el borde del botón de colapso */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,...'); /* Imagen personalizada para el ícono de colapso */
}

/* Estilo para el contenedor del botón 'Cerrar Sesión' */
.d-flex {
  margin-left: auto; /* Mueve el botón 'Cerrar Sesión' hacia la derecha */
}
